body{
    font-family: "Calibri", sans-serif;
}

h1{
    font-size: 6em;
    text-align: center;
    color: red;
}

nav{
    font-size: 1.5em;
}

ul,
li{
    display: inline;
    margin: 0;
    padding: 0;
}

@media (max-width: 600px){
    h1{
        color:aqua
    }
}
