<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Home page</h1>
    <h3><%= 'Hello World'.toUpperCase() %></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum magni et eos recusandae ducimus nam accusantium voluptatibus iusto doloremque aperiam ratione velit iure, commodi corrupti deleniti earum inventore id quae, quasi aliquid. Tenetur, inventore. Tempora autem recusandae voluptas officia, deserunt in dolor error, rem quibusdam fuga voluptate doloribus magni et. Dolorum vitae inventore officiis, dolores, at quam quibusdam aut dolore, provident non ipsum vero quisquam fugiat dicta numquam assumenda. Omnis, magnam expedita natus inventore quis quibusdam quae quo, iste a quam nesciunt enim non suscipit quisquam et animi molestias voluptatibus possimus voluptate debitis dolor asperiores consectetur illo eligendi. Hic, voluptate.</p>
</body>
</html>